body {
  margin: 0;
  overflow: hidden;
  background: #333;
}
.mainCont{
    display: flex;
    justify-content: space-evenly;
}
.controlCont{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.speedMeter , .distanceMeter{
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 300;
    width: 130px;

}
#gameArea {
  position: relative;
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background: url('./images/road.jpg') repeat-y; 
  background-size: contain;
}

.car {
  position: absolute;
  width: 50px;
  height: 100px;
  background: url('./images/car.png') no-repeat center center / cover; 
}

.enemy {
  position: absolute;
  width: 50px;
  height: 100px;
  background: blue; 
}